<style>
    .blurhash {
        background-image: var(--blurhash-image);
        min-width: 640px;
        min-height: 640px;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="blurhash" {{blurhash-decoder 'LEHV6nWB2yk8pyo0adR*.7kCMdnj' 640 640}}></div>
<div class="blurhash" {{blurhash-decoder 'LGF5]+Yk^6#M@-5c,1J5@[or[Q6.' 640 640}}></div>
<div class="blurhash" {{blurhash-decoder 'L6Pj0^i_.AyE_3t7t7R**0o#DgR4' 640 640}}></div>
<div class="blurhash" {{blurhash-decoder 'LKO2?U%2Tw=w]~RBVZRi};RPxuwH' 640 640}}></div>
{{!-- broken: --}}
<div class="blurhash" {{blurhash-decoder 'LKO2?U%2;RPxuwH' 640 640}}></div>
